<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.genus.ScreenSize"
    version="0.0.1">

    <name>Android Screensize</name>
    <description>Returns the physical screen size (diameter)</description>
    <author>Genus AS</author>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/screenSize.js" name="screenSize">
        <clobbers target="cordova.plugins.screenSize" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/ScreenSize.java" target-dir="src/net/genus/screenSize/" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenSize">
                <param name="android-package" value="net.genus.ScreenSize"/>
            </feature >
        </config-file>
       
    </platform>
</plugin>